<%- include('header.ejs'); %>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        <%= post.title %>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Preview Image -->
            <a href="#">
                <% if (post.image) { %>
                    <img class="img-fluid rounded" src="<%= post.image %>" alt="">
                <% } else { %>
                    <img class="img-fluid rounded" src="https://place-hold.it/900x300" alt="">
                <% }%>
            </a>


            <hr>

            <!-- Date/Time -->
            <p>Posted on January 1, 2017 at 12:00 PM</p>

            <hr>

            <!-- Post Content -->
            <p class="lead">
                <%= post.content%>
            </p>
            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="POST" onsubmit="return doComment(this);">
                        <input type="hidden" name="post_id" value="<%= post._id %>" />

                        <div class="form-group">
                            <input class="form-control" name="username" />
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <script>
                function doComment(form) {
                    $.ajax({
                       url: "/do-comment",
                        method: "POST",
                        data: {username: form.username.value, comment: form.comment.value, post_id: form.post_id.value},
                        success: function (response) {
                           alert(response);
                        }
                    });
                    return false;
                }
            </script>

            <!-- Single Comment -->
            <% if (post.comments) {%>
                <% post.comments = post.comments.reverse(); %>
                <% post.comments.forEach(function (comment) { %>
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="https://place-hold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">
                                <%= comment.username %>
                            </h5>
                            <%= comment.comment %>
                        </div>
                    </div>
                <%  }) %>
            <%}%>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<%- include('footer.ejs'); %>
